<?xml version="1.0"?>
<model>
  <name>oak_base</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Accacio Neto</name>
    <email>accacio.cefet@gmail.com</email>
  </author>
  <description>
    Modelo de árvore simples com tronco e copa.
  </description>
</model>
