criis@criis-VivoBook-ASUSLaptop-X571GT-X571GT:~$ export GAZEBO_MODEL_PATH=~/ros2_ws/src/ros2_gz_qtaseixo/models:$GAZEBO_MODEL_PATH
criis@criis-VivoBook-ASUSLaptop-X571GT-X571GT:~$ gz sim ~/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world
Warning [Utils.cc:132] [/sdf/world[@name="scenario1_world"]/physics/gravity:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L8]: XML Element[gravity], child of element[physics], not defined in SDF. Copying[gravity] as children of [physics].
Warning [Utils.cc:132] [/sdf/world[@name="scenario1_world"]/scene/user_camera:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L17]: XML Element[user_camera], child of element[scene], not defined in SDF. Copying[user_camera] as children of [scene].
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[0]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L32]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[1]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L33]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[2]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L34]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[3]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L35]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[4]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L36]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[5]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L37]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[6]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L38]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[7]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L39]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[8]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L40]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[9]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L41]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[10]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L44]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[11]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L45]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[12]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L46]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[13]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L47]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[14]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L48]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[15]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L49]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[16]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L50]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[17]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L51]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[18]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L52]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[19]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L53]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[20]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L56]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[21]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L57]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[22]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L58]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[23]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L59]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[24]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L60]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[25]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L61]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[26]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L62]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[27]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L63]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[28]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L64]: Msg: Unable to find uri[model://oak_base]
[Err] [Server.cc:86] Error Code 14: [/sdf/world[@name="scenario1_world"]/include[29]/uri:/home/criis/ros2_ws/src/ros2_gz_qtaseixo/worlds/scenario1.world:L65]: Msg: Unable to find uri[model://oak_base]
Escalating to SIGKILL on [Gazebo Sim GUI]
