<?xml version="1.0"?>
<model>
  <name>low_poly_tree</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Seu Nome</name>
    <email>seu.email@example.com</email>
  </author>
  <description>
    low_poly_tree: rows of trees for UAV-UGV simulation.
  </description>
</model>