<?xml version="1.0"?>
<model>
  <name>scenario2</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Seu Nome</name>
    <email>seu.email@example.com</email>
  </author>
  <description>
    Scenario2: UGV identification with different soils
  </description>
</model>